# http routing section
http:
  routers:
    https-front-router: 
      rule: "Host(`front.eola.space`)"
      service : front-ban
  
  services:
    # Define how to reach an existing service on our infrastructure
    front-ban:
      loadBalancer:
        servers:
        {% for host in groups['front_group'] %}
        - url: http://{{hostvars[host]['ansible_host']}}:8001
        {% endfor %}


