entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: web-secure
          scheme: https
 
  web-secure:
    address: :443


providers:
  # Enable the file provider to define routers / middlewares / services in file
  file:
    directory: /etc/traefik/dynamic

certificatesResolvers:
  lets-encrypt:
    acme:
      email: contact@victordurand.fr
      storage: acme.json
      caServer: https://acme-v02.api.letsencrypt.org/directory
      httpChallenge:
        # used during the challenge
        entryPoint: web
  lets-encrypt-local:
    acme:
      email: contact@victordurand.fr
      storage: acme-local.json
      httpChallenge:
        # used during the challenge
        entryPoint: web
